
.block {
    height: 80px;
    width: 80px;
    background: lightgrey;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800px;
    color: white;
    // color: #645B52;
}
